<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <span class="fw-bold text-primary">⚽ BOLEIRAGEM</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <% if current_user.wallet %>
              <%= link_to financial_report_wallet_path(current_user.wallet), class: "nav-link", title: "Relatório Financeiro" do %>
                <i class="fa-solid fa-coins"></i> <%= current_user.wallet.balance || 0 %>
              <% end %>
            <% else %>
              <%= link_to "#", class: "nav-link" do %>
                <i class="fa-solid fa-coins"></i> 0
              <% end %>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to "Início", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Times", teams_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Jogadores", players_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Partidas", matches_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contratos", player_contracts_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.profile_photo.attached? %>
                <%= image_tag current_user.profile_photo, 
                    class: "rounded-circle", 
                    style: "width: 32px; height: 32px; object-fit: cover;",
                    alt: "Profile" %>
              <% else %>
                <div class="rounded-circle d-flex align-items-center justify-content-center bg-secondary text-white" 
                     style="width: 32px; height: 32px;">
                  <i class="fa-solid fa-user" style="font-size: 14px;"></i>
                </div>
              <% end %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to "Perfil", edit_user_registration_path, class: "dropdown-item" %></li>
              <% if current_user.wallet %>
                <li><%= link_to "Relatório Financeiro", financial_report_wallet_path(current_user.wallet), class: "dropdown-item" %></li>
              <% end %>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Sair", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Entrar", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
