
<h1>Jogadores Disponíveis no Mercado</h1>

<%= search_form_for @q, url: players_path, method: :get do |f| %>
  <div class="mb-3">
    <%= f.label :name_cont, "Nome" %>
    <%= f.search_field :name_cont, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :real_team_name_cont, "Time Real" %>
    <%= f.search_field :real_team_name_cont, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :rating_gteq, "Rating (mínimo)" %>
    <%= f.number_field :rating_gteq, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :price_gteq, "Preço (mínimo)" %>
    <%= f.number_field :price_gteq, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :goals_gteq, "Gols (mínimo)" %>
    <%= f.number_field :goals_gteq, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :assists_gteq, "Assistências (mínimo)" %>
    <%= f.number_field :assists_gteq, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :successful_dribbles_gteq, "Dribles Bem Sucedidos (mínimo)" %>
    <%= f.number_field :successful_dribbles_gteq, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :interceptions_gteq, "Interceptações (mínimo)" %>
    <%= f.number_field :interceptions_gteq, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :yellow_cards_gteq, "Cartões Amarelos (mínimo)" %>
    <%= f.number_field :yellow_cards_gteq, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :red_cards_gteq, "Cartões Vermelhos (mínimo)" %>
    <%= f.number_field :red_cards_gteq, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :faults_committed_gteq, "Faltas Cometidas (mínimo)" %>
    <%= f.number_field :faults_committed_gteq, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :loss_of_possession_gteq, "Perda de Posse (mínimo)" %>
    <%= f.number_field :loss_of_possession_gteq, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :frequency_in_field_gteq, "Frequência em Campo (mínimo)" %>
    <%= f.number_field :frequency_in_field_gteq, class: "form-control" %>
  </div>
  <%= f.submit "Filtrar", class: "btn btn-primary" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Imagem</th>
      <th><%= sort_link(@q, :name, "Nome") %></th>
      <th><%= sort_link(@q, :real_team_name, "Time Real") %></th>
      <th><%= sort_link(@q, :goals, "Gols") %></th>
      <th><%= sort_link(@q, :assists, "Assistências") %></th>
      <th><%= sort_link(@q, :successful_dribbles, "Dribles Bem Sucedidos") %></th>
      <th><%= sort_link(@q, :interceptions, "Interceptações") %></th>
      <th><%= sort_link(@q, :yellow_cards, "Cartões Amarelos") %></th>
      <th><%= sort_link(@q, :red_cards, "Cartões Vermelhos") %></th>
      <th><%= sort_link(@q, :faults_committed, "Faltas Cometidas") %></th>
      <th><%= sort_link(@q, :loss_of_possession, "Perda de Posse") %></th>
      <th><%= sort_link(@q, :frequency_in_field, "Frequência em Campo") %></th>
      <th><%= sort_link(@q, :rating, "Rating") %></th>
      <th><%= sort_link(@q, :price, "Preço") %></th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><img src="https://escudosfc.com.br/images/<%= I18n.transliterate(team_logo(player.real_team_name)) %>" alt="<%= player.real_team_name %>" width="50"></td>
        <td><%= player.name %></td>
        <td><%= player.real_team_name %></td>
        <td><%= player.goals %></td>
        <td><%= player.assists %></td>
        <td><%= player.successful_dribbles %></td>
        <td><%= player.interceptions %></td>
        <td><%= player.yellow_cards %></td>
        <td><%= player.red_cards %></td>
        <td><%= player.faults_committed %></td>
        <td><%= player.loss_of_possession %></td>
        <td><%= player.frequency_in_field %>%</td>
        <td><%= player.rating %></td>
        <td><%= player.price %></td>
        <td>
          <%= link_to 'Ver', player_path(player), class: "btn btn-sm btn-primary" %>
          <%#= link_to 'Contratar', new_player_contract_path(player_id: player.id), class: "btn btn-sm btn-success" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @players %>
